<div class="row entete" xmlns:th="http://www.thymeleaf.org">
	
	<!--// Colonne A (logo) //-->
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 paddings-standard">
		
		<!-- A REMPLACER PAR UN LOGO -->
		<div class="h1 text-success">ActivBox</div>
	</div>
	
	<!--// Colonne B (menus) //-->
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 text-center">
		
		<!--// Zone menus Ligne 01 //-->
		<div class="row p-0 mr-10px">
			
			<!-- Une zone vide -->
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-6"></div>
			
			<!-- zone infos compte -->
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
				<div class="row">
					<span class="col-11 p-1 text-end text-success">
						<i>grafo@activbox.com</i>
					</span>
					
					<a href="deconnexion" class="col-1 p-0">
						
						<img src="images/icons8-logout-96.png" alt="icons8-logout-96.png" title="logout"
								style="width:35px" />
					</a>
				</div>
			</div>
		</div>
		
		<!--// Zone menus Ligne 02 //-->
		<div class="row mt-1 mr-10px p-0">
			
			<!-- La recherche d'un ticket -->
			<form action="/recherche-ticket" method="post" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0">
				<table class="form-group width100pc">
					<tr>
						<td>
							<input type="text" id="motClef" name="motClef" placeholder="Numero ou mot-clef"
									class="form-control left-rounded not-rounded-right" />
						</td>
						<td>
							<input type="submit" value="Rechercher"
									class="btn btn-success not-rounded-left right-rounded border width100pc" />
						</td>
					</tr>
				</table>
			</form>
			
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
				
				<div class="row height100pc-menu">
					
					<!-- Une zone vide -->
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
					
					<a href="/"
						class="col-xs-12 col-sm-12 col-md-3 col-lg-3 menu-top">Accueil</a>
						
					<a href="details-incident"
						class="col-xs-12 col-sm-12 col-md-3 col-lg-3 menu-top">Filtres</a>
						
					<div class="nav-item dropdown col-xs-12 col-sm-12 col-md-3 col-lg-3 menu-top">
						<a href="#"
							class="nav-link dropdown-toggle text-primary"
							data-bs-toggle="dropdown">
							Créer
						</a>
						
						<div class="dropdown-menu">
							<a href="/nouvel-incident" class="dropdown-item">Incident</a>
							<a href="/nouveau-changement" class="dropdown-item">Changement</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
