<div class="entete" xmlns:th="http://www.thymeleaf.org">
	
	<!--//==== LIGNE ENTETE 01 ====//-->
	<div class="row">
		
		<!--// ZONE LOGO (gauche) //-->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			
			<!-- A remplacer par un logo -->
			<div class="h1 text-success">
				<a href="/" style="color:rgb(40, 160, 40)">ActivBox</a>
			</div>
		</div>
		
		<!--// ZONE INFOS COMPTE (droite) -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			
			<!--// Visible si connecteh seulement //-->
			<div class="row m-2"
					th:if="${#authentication.name} != 'anonymousUser'">
					
					<div class="col-1 p-1">
						
						<div class="border border-success rounded p-0 text-center">
						<img th:src="@{#{lang_flag}}" alt="drapeau_*.jpg" title="by icons8.com"
							style="width:25px" />
						</div>
						
					</div>
					
					<form method="get" th:action="@{/}" class="col-3 p-1">
						<select name="lang" onchange="this.form.submit()" class="border border-0 bg-white">
							<option th:value="#{lang_code01}" th:text="#{lang_name01}" selected>language_01</option>
							<option th:value="#{lang_code02}" th:text="#{lang_name02}">language_02</option>
							<option th:value="#{lang_code03}" th:text="#{lang_name03}">language_03</option>
						</select>
					</form>
					
					<span class="col-7 p-1 text-end text-success">
						<i>Bonjour, <span th:text="${#authentication.name}"></span>!</i>
					</span>
					
				<a href="/logout" class="col-1 p-0 text-center">
					<img src="images/icons8-logout-96.png" alt="icons8-logout-96.png" title="logout"
							style="width:35px" />
				</a>
			</div>
		</div>
	</div>
	
	
	<!--//==== LIGNE ENTETE 02 ====//-->
	
	<!--// Visible si connecteh seulement //-->
	<div class="row m-2"
		th:if="${#authentication.name} != 'anonymousUser'">
		
		<!--// Colonne A (zone recherche) //-->
		<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6 pt-2 pb-2">
			<form action="/recherche-ticket" method="post">
				<div class="row">
					<div class="col-9 p-0">
						<input type="text" id="motClef" name="motClef" placeholder="Numéro de ticket ou mot-clef"
								class="form-control editable not-rounded-right left-rounded border border-success"
										required />
					</div>
					
					<div class="col-3 p-0">
						<button type="submit"
								class="btn btn-outline-success form-control not-rounded-left right-rounded">
							<i class="bi bi-search"></i> <!-- Bootstrap search icon -->
						</button>
					</div>
				</div>
			</form>
		</div>
		
		<!--// Colonne B (Zone menus) //-->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
			
			<!--// Zone menus Ligne 02 //-->
			<div id="parallelo_parent" class="vert-leger menu-principal">					
				<div id="rectangle_enfant" class="row">
					<a href="/" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 element-menu">Accueil</a>
					<a href="/filtres" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 element-menu">Filtres</a>
					
					<div class="nav-item dropdown col-xs-12 col-sm-12 col-md-3 col-lg-3 element-menu">
						<a href="#" class="nav-link dropdown-toggle text-primary"
							data-bs-toggle="dropdown">Créer</a>
							
							<div class="dropdown-menu">
								<a href="/nouvel-incident" class="dropdown-item">Incident</a>
								<a href="/nouveau-changement" class="dropdown-item">Changement</a>
							</div>
					</div>
					
					<!-- Visible par Admin seulement -->
					<a href="/admin" th:if="${#authentication.name} == 'admin'"
						class="col-xs-12 col-sm-12 col-md-3 col-lg-3 menu-top">Zone Admin</a>
				</div>
			</div>
		</div>
	</div>
</div>
