<div class="row border border-danger entete">
	
	<!--// Le logo //-->
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 border border-danger">
		
		<h1>ActivBox</h1>
		<p>
			L'appli sympa de gestion de tickets<br/>
		</p>
		
	</div>
	
	
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		
		<!--// Zone menus 01 //-->
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
			<a href="/" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2 border border-success">CONNEXION</a>
			<a href="/" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2 border border-success">CONTACT</a>
			<a href="/" class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2 border border-success">INFO</a>
		</div>
		
		<!--// Zone menus 02 //-->
		<div class="row">
			<a href="/" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 menu01 left-rounded border border-success">Accueil</a>
			
			<a href="details-incident" class="col-xs-12 col-sm-12 col-md-2 menu01 col-lg-2 border border-success">Details d'un ticket</a>
			
			<a href="nouvel-incident" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 menu01 border border-success">Creation d'un ticket</a>
			
			<a href="liste-incidents" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 menu01 right-rounded border border-success">Recherche de tickets</a>
		</div>
		
	</div>
</div>
