<div class="bg-bleu-clair height100pc border-bottom-radius-10px">

<!--// Le menu du pied de page //-->
<div class="row menu-footer text-center">
	
	<div class="col-xs-12 col-sm-12 col-md col-lg">
	<a href="/">Accueil</a>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md col-lg">
	<a href="/">Nouveau ticket</a>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md col-lg">
	<a href="/">Contact</a>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md col-lg">
	<a href="/">Info</a>
	</div>
</div>

<!--// Copyright & logo du pied de page //-->
<div class="row zone-signature">
		
		<div class="col-6 text-center">
			<i>&#169; 2024 JB Apasa<br/>
			Some rights reserved</i>
		</div>
		
		<div class="col-6 text-center">
			Image Logo Spring Boot
		</div>
		
</div>
</div>

<!-- Une zone vide de 10 px de hauteur en bas -->
<div class="zone10px"></div>
