
<div class="row text-center">
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-2 border border-success">
	<a href="/">Connexion</a>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-2 border border-success">
	<a href="/">Contact</a>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p-2 border border-success">
	<a href="/">Info</a>
	</div>
	
</div>


<div class="row pt-2 pb-2">
		
		<div class="col-6 text-center">
			<i>&#169; 2024 JB Apasa<br/>
			Some rights reserved</i>
		</div>
		
		<div class="col-6 text-center">
			Image Logo Spring Boot
		</div>
		
</div>
