/*
.affichage {
	color: green;
}
*/

.cadre {
	border-bottom: 1px solid green;
}

.editable {
	
}

.plein {
	width: 100%;
}


.bg-light-green {
	/* background-color:#D9EEE1;
	color:black!important; */
	
	background-color: #D9EEE1;
}

/*
.bg-vert-moyen {
	// background-color: deepskyblue; //
	// background-color: #a8d8bd; vert moyen
	background-color: #D9EEE1;//
}

.bg-bleu-moyen {
	//background-color: #edc9af; // desert sand	
	background-color: #e8e4c9;  //
	background-color: #edc9af;
}

.bg-orangeatre {
	background-color: #fdf6f1; // desert sand light //
}
*/

footer {
	/*background-color: #d8e4bc;
	background-color: #D9EEE1;

}

.actif {
	color: tomato;
}

.menu01 {
	background-color: #8bbe1b;   /* dark lemon lime */
	
}

.entete {
	background-color: white;
}

.left-rounded {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.right-rounded {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

/* POSITIONNEMENT PIED-DE-PAGE EN BAS
-------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 120px;    /* La hauteur du pied-de-page */
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;    /* La hauteur du pied-de-page */
	line-height: 120px; /* Vertically centers the text */
}
/* ----------------------------------------- */
