/*
.affichage {
	color: green;
}
*/

.cadre {
	border-bottom: 1px solid green;
}

.editable {
	/* background-color: rgb(240, 240, 240); */
}

/*
.plein {
	width: 100%;
}
*/

.paddings-standard {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
}

.actif {
	color: tomato;
}

.menu01 {
	background-color: #cbe5f5;    /* bleu clair light corn flower */
}

.menu02 {
	background-color: rgb(100, 200, 100);
}

.height50pc {
	position: relative;
	height: 50%;
}

.width80pc {
	position: relative;
	width: 100%;
	
	display: inline-block;
	padding-left: 0px;
}

.height100pc {
	position: relative;
	height: 100%;
}

.height100pc-menu {
	position: relative;
	height: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.width100pc {
	position: relative;
	width: 100%;
}

/* L'ENTETE */

header {
	position: relative;
}

.entete {
	/* background-color: rgb(245, 250, 240);    // gris clair jaunatre */
	background-color: #D9EEE1;
	border-bottom: 2px solid white;
	overflow: visible;
	
	position: relative;
	margin: 0px;
	padding: 0px;
}

.bg-gris-claire {
	background-color: rgb(255, 255, 255);
}

.left-rounded {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.right-rounded {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

/* CORPS */
main {
	border: 1px solid orange;
}

/* PIED DE PAGE */

.bg-bleu-clair {
	background-color: #cbe5f5;    /* bleu clair light corn flower */
}

/*
.paddings-footer {
	padding-left: 20px;
	padding-right: 20px;
}
*/

.menu-footer {
	position: relative;
	min-height: 50%;
}

/* 
.pied-de-page {
	//background-color: #cbe5f5;    bleu clair light corn flower //
	
	height: 90%;
}
*/
 
.zone10px {
	padding-bottom: 10px;
	
	border: 1px solid red;
}

/* DISPOSITION EN 3 BLOCS
-------------------------------------- */

html {
	height: 100%;    /* occuppe tout l'espace disponible de la page*/
	width: 100%;
}

body {
	position: relative;
	min-height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	
	/* padding-bottom: 160px;    La hauteur du pied-de-page */
}


.contenu {
	
	position: relative;
	width: 100%;
	min-height: 100svh;
	min-height: 100vh;
	
	padding-bottom: 160px;    /* La hauteur du pied-de-page */
	
	margin-top: 10px;
	
	background-color: rgb(240, 240, 240);    /* gris faible */
	
	border: 1px solid green;
}


footer {
	position: absolute;
	bottom: 0;
	
	width: 100%;
	
	height: 160px;    /* La hauteur du pied-de-page */
	/* line-height: 120px; // Centrage vertical du texte */
	
	
	
	border: 1px solid blue;
}


/* ----------------------------------------- */

/* CLASSES GENERIQUES */
