<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>[ActivBox] Détails incident</title>

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-icons.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="icon" type="image/png" href="favicon.png" />
<!--
<script type="text/javascript" src="js/main.js"></script>
-->
</head>

<body>

<div class="contenu border-top-radius-10px border-bottom-radius-10px">

<header th:insert="fragments/entete.html">
</header>


<main class="paddings-standard">
	
	<!-- Si ticket present -->
	<div th:if="${titreTicket} != null" class="text-end pt-2 pb-2">
		<span class="titre-page h3" th:text="${titreTicket}"></span>
	</div>
	
	<!-- Si ticket absent -->
	<div th:if="${titreTicket} == null" class="text-end pt-2 pb-2">
		<span class="titre-page h4">Détails d'un incident</span>
	</div>
	
	<!--// Les détails du ticket //-->
	<div th:replace="~{fragments/details-ticket.html
					:: formField(url_modif='/modif-incident',
						url_cloture='/cloture-incident',
						url_new_note='/new-note-incident') }">
	</div>
</main>


<footer th:insert="fragments/pied-de-page.html"></footer>

</div>
</body>
</html>
