<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>[ActivBox] Details incident</title>

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-icons.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="icon" type="image/png" href="favicon.png" />
<!--
<script type="text/javascript" src="js/main.js"></script>
-->
</head>

<body>

<div class="contenu border-top-radius-10px border-bottom-radius-10px">

<header th:insert="fragments/entete.html">
<!-- <div th:replace="fragments/entete.html :: header"></div> -->
</header>


<main class="paddings-standard">

<div class="text-end pt-2 pb-2">
	<span class="titre-page h3">Liste d'incidents</span>
</div>

<div class="zone-infos">
	
	<!--==== RECHERCHE D'UN INCIDENT ====-->
	
	<div th:if="${messageErreur} != null">
	<span class="text-danger" th:text="${messageErreur}"></span>
	</div>
	
	<!--
	<div th:if="${messageSucces} != null">
	<span class="text-success" th:text="${messageSucces}"></span>
	</div>
	 -->
	
	<!--==== AFFICHAGE DES DETAILS D'UN INCIDENT ====-->
	<div th:if="${listeIncidents} != null">
	
	<div class="container row m-4">
	
	<!--==== Colonne A ====-->
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	
	<table class="table table-striped table-sm">
	<tbody>
	    <tr th:each="inc: ${listeIncidents}">
	        <td th:text="${inc.col02NumeroTicket}" />
	        <td th:text="${inc.col10Prioriteh}" />
	        <td th:text="${inc.col04AgentInitial}" />
	        <td th:text="${inc.col05Demandeur}" />
	        
	    </tr>
	</tbody>
	</table>
	
	
	</div>
	</div>
	</div>
	
	</div>
	</main>
	
	<footer th:insert="fragments/pied-de-page.html"></footer>

</div>

</body>
</html>
