<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>[ActivBox] Nouveau changement</title>

<link th:replace="fragments/head.html" />
</head>

<body>
<div class="contenu border-top-radius-10px border-bottom-radius-10px">

<header th:insert="fragments/entete.html">
</header>


<main class="paddings-standard">
	
	<div class="zone-infos">
		
		<!--// Le titre de la page //-->
		<div class="text-center">
			<span class="titre-page h3">Création d'un changement</span>
		</div>
		
		<!--// Les cas d'erreur //-->
		<div th:if="${messageErreur} != null"
				class="alert alert-danger p-1 mt-3 message-alert" th:text="${messageErreur}">
		</div>
		
		<div class="rubrique">
			
			<!--// FORMULAIRE NOUVEAU TICKET //-->
			
			<!-- On precise l'objet qui sera constitueh par les donnees du formulaire.
				Cet objet doit exister d'avance, ici c'est le contenu de l'attribut "objetTicket" du modele.
				Ici le modele envoyeh par la methode get est present. -->
				
			<form action="#" th:action="@{/nouveau-changement}" th:object="${objetTicket}" method="post"
					xmlns:th="http://www.thymeleaf.org">
				
				<div th:insert="fragments/formulaire-nouveau-ticket.html"></div>
				
			</form>
		</div>
	</div>
</main>


<footer th:insert="fragments/pied-de-page.html"></footer>

</div>
</body>
</html>
