<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>[ActivBox] Nouvel incident</title>

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-icons.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="icon" type="image/png" href="favicon.png" />
<!--
<script type="text/javascript" src="js/main.js"></script>
-->
</head>

<body>
<div class="contenu border-top-radius-10px border-bottom-radius-10px">

<header th:insert="fragments/entete.html">
</header>


<main class="paddings-standard">

	<div class="text-end pt-2 pb-2">
		<span class="titre-page h3">Création d'un ticket</span>
	</div>
	
	<div class="zone-infos">
	
		<!-- Si infos non valides -->
		<div th:if="${messageErreur} != null"
				class="alert alert-danger text-center p-1 message-alert" th:text="${messageErreur}">
		</div>
		
		<!--// FORMULAIRE NOUVEAU TICKET //-->
		
		<!-- On precise l'objet qui sera constituee par les donnees du formulaire.
			Cet objet doit exister d'avance, ici c'est le contenu de l'attribut "objetIncident" du modele.
			Ici le modele envoyeh par la methode get est present. -->
			
		<form action="#" th:action="@{/nouvel-incident}" th:object="${objetIncident}" method="post"
				xmlns:th="http://www.thymeleaf.org">
			
			<div th:insert="fragments/formulaire-nouveau-ticket.html"></div>
			
		</form>
	</div>
</main>


<footer th:insert="fragments/pied-de-page.html"></footer>

</div>
</body>
</html>
