<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<title>[ActivBox] Nouvel incident</title>

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-icons.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="icon" type="image/png" href="favicon.png" />
<!--
<script type="text/javascript" src="js/main.js"></script>
-->
</head>

<body>

<div class="contenu border-top-radius-10px border-bottom-radius-10px">

<header th:insert="fragments/entete.html">
<!-- <div th:replace="fragments/entete.html :: header"></div> -->
</header>


<main class="paddings-standard">

<div class="text-end pt-2 pb-2">
	<span class="titre-page h3">Creation d'un ticket</span>
</div>

<div class="zone-infos">

<!-- Si infos non valides -->
<div th:if="${messageErreur} != null"
		class="alert alert-danger text-center p-1 message-alert" th:text="${messageErreur}">
</div>

<!--==== FORMULAIRE D'UN NOUVEL INCIDENT ====-->
<!-- On precise l'objet qui sera constituee par les donnees du formulaire.
	Cet objet doit exister d'avance, ici c'est le contenu de l'attribut "objetIncident" du modele.
	Ici le modele envoyee par la methode get est present. -->
	
<form action="#" th:action="@{/nouvel-incident}" th:object="${objetIncident}" method="post">
	
		<!--
		//Utilisation de messages d'un paquet de ressources:
		<td><label th:text="#{msg_Prioriteh}"></label></td>
		-->
		<div class="form-group row">
			<label for="col10Prioriteh" th:text="Prioriteh" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-xs-10 col-sm-10 col-md-5 col-lg-5 info-fournie">
				<input type="text" th:field="*{col10Prioriteh}"
						id="col10Prioriteh" name="col10Prioriteh" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isPrioritehValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col04AgentInitial" th:text="Agent-initial" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 info-fournie">
				<input type="text" th:field="*{col04AgentInitial}"
						id="col04AgentInitial" name="col04AgentInitial" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isAgentInitialValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col05Demandeur" th:text="Demandeur" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 info-fournie">
				<input type="text" th:field="*{col05Demandeur}"
						id="col05Demandeur" name="col05Demandeur" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isDemandeurValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col06Entreprise" th:text="Entreprise" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 info-fournie">
				<input type="text" th:field="*{col06Entreprise}"
						id="col06Entreprise" name="col06Entreprise" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isEntrepriseValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col07Categorie" th:text="Categorie" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 info-fournie">
				<input type="text" th:field="*{col07Categorie}"
						id="col07Categorie" name="col07Categorie" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isCategorieValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col12EquipeEnCharge" th:text="Equipe-en-charge" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 info-fournie">
				<input type="text" th:field="*{col12EquipeEnCharge}"
						id="col12EquipeEnCharge" name="col12EquipeEnCharge" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isEquipeEnChargeValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col15Sujet" th:text="Sujet" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-12 info-fournie">
				<input type="text" th:field="*{col15Sujet}"
						id="col15Sujet" name="col15Sujet" class="form-control form-control-sm bg-light"></input>
			</div>
			
			<div th:if="${isSujetValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="form-group row">
			<label for="col16Description" th:text="Description" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-form-label"></label>
			
			<div class="col-12 info-fournie">
				<textarea rows="10" th:field="*{col16Description}"
							id="col16Description" name="col16Description" class="form-control form-control-sm bg-light"></textarea>
			</div>
			
			<div th:if="${isDescriptionValid} == false" class="col-1 icone-alerte">
				<img src="images/icons8-wrong-48.png" alt="images/icons8-wrong-48.png" style="width:20px" />
			</div>
		</div>
		
		<div class="row m-0">
			<input type="submit" value="Valider" class="btn btn-sm btn-success mt-2 col-xs-12 col-sm-12 col-md-2 col-lg-2" />
		</div>
	
</form>

</div>
</main>


<footer th:insert="fragments/pied-de-page.html"></footer>

</div>

</body>
</html>
